/* .profile-element {
    margin-bottom: .5 em;
} */

#edit-btn {
    max-width: 70px;
    max-height: 20px;
    font-size: 8px;
}

#avatar {
    border-radius: 50%;
    border: 2px solid;
    border-color: #D98A4F;
}

.container {
    margin-left: 2.5em;
    margin-right: auto;
    margin-top: 1.5em;
}

.stats-text {
    font-size: 10px;
    margin-left: .5em;
}

/* #user-name {
    font-size: 18px;
} */
