.profile-element {
    margin-right: 1em;
    box-shadow: 3px 3px 2px grey;
}

#edit-btn {
    max-width: 60px;
    max-height: 12px;
    font-size: 7px;
}

#like-btn {
    max-width: 65px;
    max-height: 2.5em;
    font-size: 11px;
    padding: 5px;
}

/* .likes-count {
    border-radius: 50%;
    border: 1px
} */



.contain {
    /* border-radius: 50%; */
    border: 1.5px solid;
    border-radius: 50%;
    border-color: #D98A4F;
    width: 75px;
    height: 75px;
    object-fit: cover;
}

.story-photo {
    height: 150px;
    width: auto;
    object-fit: cover;

}

.story-title {
    font-size: 15px;
}

.profile-header {
    margin-left: 2.5em;
    margin-right: auto;
    margin-top: 1.5em;
}

.stats-text {
    font-size: 14px;
    margin-left: .2em;
}

.edit-input {
    margin: .3em;
}

.edit-element {
    margin: .3em;
}

#user-name {
    font-size: 18px;
}

.card-div {
    margin: 2em;
}

.profile-story-cards {
    margin: 1em;
    box-shadow: 5px 5px 5px grey;
}

.stats-div {
    margin-left: 3em;
    margin-right: auto;
}

.profile-pic {
    max-height: 100px;
    max-width: 100px;
}

p {
    font-size: 12px;
}
