.ant-carousel{
    overflow: hidden;
    color: black;
    /* height: 160px; */
    /* background-color: #D98A4F */
    /* background-image: linear-gradient(to left bottom, #d98a4f, #d29767, #caa380, #c2ae9b, #b9b8b7); */
  }

#author-avatar {
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 50%;
  object-fit: cover;
}

/* #story-column-2 {
  margin: 3px;
} */

.story-photo {
  height: 150px;
  width: auto;
  object-fit: contain;

}

#story-title {
  overflow: hidden;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-overflow: ellipsis;
}

#story-author {
  font-family: Lato, sans-serif;
  font-size: 12px;
  font-weight: 400;
}

