.sub-header {
    /* background-color: rgb(217, 139, 79); */
    margin: 10px 0px;
}

.sub-header-text {
    text-align: center;
    padding: 5px 0px;
    /* overrides ant margin */
    margin-bottom: 0px !important;
    color: rgb(217, 139, 79) !important;
}