.logo {
    max-width: 100%;
    max-height: 100px;
    display: block;
    margin: auto;
}

.logo-icon-only {
  float: left;
  margin-bottom: 10px;
}

.nav {
  overflow: hidden;
  background-color: rgba(220, 220, 220, 0.671);
}

.nav-link {
  float: left;
  color: #f2f2f2;
  background-color: #00acb0;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  background-color: #008183;
}

.nav-right {
  float: right;
}

/* .toggle-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
  width: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
} */

/* .toggle-button__line {
  width: 30px;
  height: 2px;
  background: black;
} */

.drawer-btn {
  margin: 10px;
  float: left;
}

