#app-photo {
    margin-top: 100px;
    margin-bottom: 20px;
    background-color: white;
    opacity: .8;
}

.paragraph {
    margin-bottom: 20px;
    margin-top: 40px;
    opacity: .8;
    font-size: 16;
    font-weight: bold;
}

.about {
    height: 650px;
    background: url("/images/bridge-daylight-environment-775201.jpg") no-repeat;
    background-size: 100%;
}